<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intersections Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="body">
        <h1 class="header">Welcome to Intersections Counter v1.0</h1>
        <div class="flex-row">
            <div class="left-side"></div>
            <div class="right-side">
                <form action="/process" method="post">
                    <button type="submit">Run Python Code</button>
                </form>
            </div>
        </div>


        {% if result %}
            <div>{{ result }}</div>
        {% endif %}
    </div>
</body>
</html>
